<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/00c4260/css/main.css">
</head>
<body>

<div class="wrapper">
    <div class="header height--9 col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
            <a href="/">
                <img class="main-logo" src="https://www.ons.gov.uk/assets/img/ons-logo.svg" alt="Office for National Statistics">
            </a>
        </div>
    </div>
</div>
<div class="background--astral">
    <div class="wrapper">
            <div class="col-wrap">
                <div class="col">
                    <h1>Data file upload</h1>
                </div>
            </div>
        </div>
</div>

<div class="wrapper">
    <div class="col-wrap">
        <div class="col">
            <form action="" method="post" enctype="multipart/form-data">
                <h3>Select file to upload</h3>
                <p><input type="file" name="file" id="file"></p>
                <p><input type="submit" value="Upload" name="submit"></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>